.modal-container {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.modal-body {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.modal-mask {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}


.modal-zoom-in{
  animation: modal-animate-in .3s forwards ease-in;
}

.modal-zoom-out {
  animation: modal-animate-out .3s forwards ease-out;
}


@keyframes modal-animate-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes modal-animate-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
